@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
	/* Primary */
	--light-red: hsl(0, 100%, 67%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--green-teal: hsl(166, 100%, 37%);
	--cobalt-blue: hsl(234, 85%, 45%);

	/* Background */
	--bg-light-red: hsla(0, 100%, 67%, 0.1);
	--bg-orangey-yellow: hsla(39, 100%, 56%, 0.1);
	--bg-green-teal: hsl(166, 100%, 37%, 0.1);
	--bg-cobalt-blue: hsl(234, 85%, 45%, 0.1);

	/* Gradients */
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavander: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);
	--light-gray-blue: hsla(224, 30%, 27%, 0.5);
}

/* Reset styles */
button {
	all: unset;
	cursor: pointer;
}

html,
body,
main {
	margin: 0;
	height: 100%;
}

/* Default styles */
body {
	font-size: 18px;
	font-weight: 500;
	font-family: "Hanken Grotesk", sans-serif;
}

/* Utilities */
.bold {
	font-weight: 700;
}

.extra-bold {
	font-weight: 800;
}

.flex-grow {
	flex-grow: 1;
}

/* Main styles */
main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	box-shadow: 10px 10px 10px var(--pale-blue);
	border-radius: 30px;
	width: 700px;
}

.score-card {
	background-image: linear-gradient(
		var(--light-slate-blue),
		var(--light-royal-blue)
	);
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 0;
	min-width: 350px;
}

.score-card-title {
	color: var(--light-lavander);
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 0;
}

.score-circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.score-number {
	color: var(--white);
	font-size: 70px;
}

.score-maximum {
	color: var(--light-lavander);
}

.score-grade {
	color: var(--white);
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 0;
}

.score-description {
	color: var(--light-lavander);
	font-size: 16px;
	width: 230px;
	text-align: center;
}

.summary-card {
	padding: 35px;
	width: 100%;
}

.summary-title {
	color: var(--dark-gray-blue);
	font-size: 24px;
	margin-top: 0;
}

.summary-scores {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.summary-score-container {
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 15px;
}

.summary-score-title {
	margin: 0;
	margin-left: 10px;
}

.summary-score-number {
	color: var(--dark-gray-blue);
}

.summary-score-maximum {
	color: var(--light-gray-blue);
	margin-left: 10px;
}

.summary-button {
	margin-top: 40px;
	width: 100%;
	color: var(--white);
	background-color: var(--dark-gray-blue);
	padding: 15px 0;
	border-radius: 26.5px;
	text-align: center;
}

.summary-button:hover {
	background-image: linear-gradient(
		var(--light-slate-blue),
		var(--light-royal-blue)
	);
}

.summary-button:active {
	transform: translateY(1px);
}

.reaction-colors {
	color: var(--light-red);
	background-color: var(--bg-light-red);
}

.memory-colors {
	color: var(--orangey-yellow);
	background-color: var(--bg-orangey-yellow);
}

.verbal-colors {
	color: var(--green-teal);
	background-color: var(--bg-green-teal);
}

.visual-colors {
	color: var(--cobalt-blue);
	background-color: var(--bg-cobalt-blue);
}
